services:
    cart-node:
     volumes:
       - logs-volume:/var/log/${APPNAME}
     environment:
       - stdoutPath=/var/log/${APPNAME}/combined.log
       - stderrPath=/var/log/${APPNAME}/error.log
     env_file: 
        - environments/common.env
     image: ${DOCKERHUB_USER}/${APPNAME}:${TAG}
     restart: always
     depends_on:
          - cart-db
    


    cart-db:
      image: mongo:latest
      restart: always
      volumes:
         - mongo-data:/data/db

    filebeat:
      image: ${DOCKERHUB_USER}/${APPNAME}-filebeat:${TAG}
      restart: always
      environment:
         - strict.perms=false
         - APPNAME=${APPNAME}
      volumes:
         - logs-volume:/var/log/${APPNAME}/:ro
      networks:
         - elk-network

networks:
   mynetwork-dev:
      name: cart-node-express-dev-network
      driver: bridge
   mynetwork-prod:
      name: cart-node-express-prod-network
      driver: bridge
   elk-network:
      name: elk-network
      external: true



volumes:
  mongo-data:
  logs-volume:

  # In this example, mongo-data is a named volume that ensures all data written 
  # by the MongoDB container to /data/db (MongoDB's default data directory) is saved persistently 
  # on the host system, even if the mongodb container is removed or recreated.