name: Build and Deploy the Cart Microservice

# workflow_dispatch ensures we have manual trigger of workflow and we can provide environment details as well
on: 
 workflow_dispatch:
   inputs:
     environment:
        type: choice
        description: "Specify the environment(dev or prod)"
        options:
          - dev
          - prod
        required: true
        default: 'dev'
      
     tag:
      description: "Specify the image tag to be pulled for prod"
      required: false

env:
 var1: This is workflow level env var accessible in the entire workflow
 tag: ${{ github.run_id }}  # we are setting a workflow level env variable. It could also be job level
 # So that it can be accessed in the docker compose file.

jobs:
  build-and-deploy:
       runs-on: ubuntu-latest

       env:
        var2: This is job level env var accessible in all steps

       steps:
          - name: Checkout repository
            uses: actions/checkout@v4 
            env:
             var3: This is step level env var accessible only in this step  
        

          - name: Validate PROD inputs
            run: |
             if [[ "${{ github.event.inputs.environment }}" == "prod" && -z "${{ github.event.inputs.tag }}" ]]; then
             echo "ERROR: tag is required for PROD deployments"
             exit 1
             fi
          
          - name: Set conditional env
            run: |
             if [[ "${{ github.event.inputs.environment }}" == "prod" ]]; then
             echo "tag=${{ github.event.inputs.tag }}" >> $GITHUB_ENV
             fi

          - name: Access env variables
            run: |
              # env.var3 will be empty because its set at step level
              echo "${{env.var1}}" "${{env.var2}}" "${{env.var3}}" "${{env.tag}}"
              echo "${{github.event.inputs.environment}}"
                        

          - name: Login to DockerHub
            if: ${{ github.event.inputs.environment == 'dev' }}
            uses: docker/login-action@v3
            with:
              username: ${{vars.DOCKERHUB_USERNAME}}
              password: ${{secrets.DOCKERHUB_PASSWORD}}
              # added the dockerhub username as repo variable and password as repo secret


          - name: Build Docker image
            if: ${{ github.event.inputs.environment == 'dev' }}
            uses: docker/build-push-action@v5
            with:
              push: true  # so that image is pushed to Dockerhub as well
              context: .   # this ensures the paths in the Dockerfile work as expected
              file: ./docker/Dockerfile  # this ensures the Dockerfile is located in the correct folder
              tags: ${{vars.DOCKERHUB_USERNAME}}/${{vars.APP_NAME}}:${{env.tag}}
          
          - name: Run using compose
            run: |
              docker compose -p cart-microservices-${{github.event.inputs.environment}} -f docker/docker-compose.yml -f docker/docker-compose.${{github.event.inputs.environment}}.override.yml up -d --remove-orphans --no-build
              
            

