name: Build and Deploy the Cart Microservice

# workflow_dispatch ensures we have manual trigger of workflow and we can provide environment details as well
on: 
 workflow_dispatch:
   inputs:
     environment:
        description: Specify the environment(dev or prod)
        required: true
        default: 'dev'

env:
 var1: This is workflow level env var accessible in the entire workflow
 tag: ${{ github.run_id }}

jobs:
  build-and-deploy:
       runs-on: ubuntu-latest

       env:
        var2: This is job level env var accessible in all steps

       steps:
          - name: Checkout repository
            uses: actions/checkout@v4 
            env:
             var3: This is step level env var accessible only in this step  

          - name: Access env variables
            run: |
              echo "${{env.var1}}" "${{env.var2}}" "${{env.var3}}" "${{env.tag}}"
                        

          - name: Login to DockerHub
            uses: docker/login-action@v3
            with:
              username: ${{vars.DOCKERHUB_USERNAME}}
              password: ${{secrets.DOCKERHUB_PASSWORD}}
              # added the dockerhub username as repo variable and password as repo secret


          - name: Build Docker image
            uses: docker/build-push-action@v5
            with:
              push: true  # so that image is pushed to Dockerhub as well
              context: .   # this ensures the paths in the Dockerfile work as expected
              file: ./docker/Dockerfile  # this ensures the Dockerfile is located in the correct folder
              tags: ${{vars.DOCKERHUB_USERNAME}}/${{vars.APP_NAME}}:${{env.tag}}

              # tags: ${{vars.DOCKERHUB_USERNAME}}/${{vars.APP_NAME}}:${{github.event.inputs.environment}}-${{ steps.get_time.outputs.current_time }}

            

